@page "{id?}"
@model Hejl_RecipeWebApplication.Pages.Recipes.EditModel

@{
    Layout = "_Layout";
    var title = Model.Recipe?.Id > 0 ? "Edit Recipe" : "Create Recipe";
}

<h2>@title</h2>

<form method="post" asp-antiforgery="true">
    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="Recipe.Id" />

    <div>
        <label for="title">Recipe Title:</label>
        <input type="text" asp-for="Recipe.Title" id="title" name="Title" class="form-control" placeholder="Enter recipe title" />
        <span asp-validation-for="Recipe.Title" class="text-danger"></span>
    </div>

    <div>
        <label for="description">Description:</label>
        <textarea asp-for="Recipe.Description" id="description" name="Description" class="form-control" placeholder="Enter recipe description"></textarea>
        <span asp-validation-for="Recipe.Description" class="text-danger"></span>
    </div>

    <div>
        <label for="ingredients">Ingredients:</label>
        <textarea asp-for="Recipe.Ingredients" id="ingredients" name="Ingredients" class="form-control" placeholder="Enter ingredients"></textarea>
        <span asp-validation-for="Recipe.Ingredients" class="text-danger"></span>
    </div>

    <div>
        <label for="instructions">Instructions:</label>
        <textarea asp-for="Recipe.Instructions" id="instructions" name="Instructions" class="form-control" placeholder="Enter instructions"></textarea>
        <span asp-validation-for="Recipe.Instructions" class="text-danger"></span>
    </div>

    <div>
        <label for="imageUrl">Image URL:</label>
        <input type="text" asp-for="Recipe.ImageUrl" id="imageUrl" name="ImageUrl" class="form-control" placeholder="Enter image URL" />
        <span asp-validation-for="Recipe.ImageUrl" class="text-danger"></span>
    </div>

    <p>Recipe ID: @Model.Recipe?.Id</p>
    <p>Recipe Title: @Model.Recipe?.Title</p>


    <button type="submit" class="btn btn-warning">Save Changes</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
